<br>
<div class="uk-card uk-card-medium uk-card-default" id="aboutcard">
     <div id="story">The Life and Work of EL Greco</div>
<br>He is considered by a few critics to be a phenomenon of Renaissance art, a harbinger of 20th century art, and a forerunner of modern painting movements, such as expressionism and cubism. 
He managed to combine in a unique way the Byzantine painting tradition with the Western style and create works, not only recognizable even by non-specialists, but also timeless. 
He may have been sidelined in the past, but today interest in both El Greco himself and his works is on the rise.
</br>
<br>Domenikos Theotokopoulos, known by the nickname "El Greco" (=the Greek), was born in Handakas (today's Heraklion, Crete) in 1541, when Crete was under Venetian occupation. 
His family was rather wealthy, as his father, George Theotokopoulos, was a merchant and tax collector. 
He received training as a hagiographer and was active in Khandaka, which at that time was a very important spiritual center. A
bout 200 painters, organized in guilds, worked there. Theotokopoulos followed the line of the "Cretan school" prevailing at the time, a technique basically Byzantine, with Western influences. 
He was influenced by the masterpieces of great European painters of the time, as their major works were widely circulated. From 1563 he officially practiced the profession of painter, while in a public document of the time he is called "Maestro Domenigo", i.e. teacher.
</br>
<br>In 1567 we find him in Venice, although the exact date of his arrival there is unknown. However, he stayed until 1570 and was influenced by great artists of the time, such as Tintoretto and Titian (who was also his teacher). His next stop was Rome. 
There the Croatian-born painter Giulio Clovio recommended him to his patron, Cardinal Alessandro Farnese. Obviously, the competition was great there, however, Theotokopoulos came into contact with many artists and scholars and was influenced by his contemporary great painters, such as Michael Angelo and Raphael.
</br>
<br>In 1576/7 he left for Spain, which, under the patron of the arts King Philip II, was a favorable environment for artists. 
After a short passage from Madrid, where he tried to join the royal court, he settled in Toledo. In this city, in which he stayed until his death, he was to create his most famous works, to achieve fame and distinction. 
His circle consisted of important scholars and people of the Church, as Toledo was the religious capital of Spain. 
At the time Toledo was not in its prime, yet it was a city with a glorious past that commanded respect and admiration and had a wealthy aristocracy that could have been El Greco's clientele. 
At the same time, the classical education he had already received from his youth in Khandakas, as well as his philosophical interests and, according to several sources, his rich library, made him a particularly beloved and interesting interlocutor for Spanish scholars.
</br>
<br>His painting has been influenced by both Byzantine art and Italian painting, however he managed to develop a "personal style" with particular characteristics: Tall figures with oblong faces, intense shadows, expressive faces, rich folds. 
His works manage to emotionally stimulate the viewer, to make him mentally participate in the scene that is taking place. 
The subjects of his works are mainly drawn from the field of religion (e.g. snapshots from the life and passions of Christ, episodes from the Bible and the lives of saints), but there is no shortage (although they are rarer) of landscapes of Spain and portraits.
</br>
</div>